version: "3.9"

services:
  noodle-api:
    image: mvpstudionz/noodle_api:latest
    container_name: noodle-api
    ports:
      - "5130:5130"
    environment:
      - ASPNETCORE_URLS=http://0.0.0.0:5130
      - ASPNETCORE_ENVIRONMENT=Development
      - MONGO_URL=mongodb://noodles-mongo:27017/noodles
    depends_on:
      - noodles-mongo
    restart: unless-stopped
    networks:
      - noodle-network

  noodle-ui:
    image: mvpstudionz/noodle_ui:latest
    container_name: noodle-ui
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://noodle-api:5130/noodle
      - NEXT_PUBLIC_MONGO_URL=mongodb://noodles-mongo:27017/noodles
    depends_on:
      - noodle-api
      - noodles-mongo
    restart: unless-stopped
    networks:
      - noodle-network

  noodles-mongo:
    image: mongo:7
    container_name: noodles-mongo
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_DATABASE=noodles
    command: ["mongod", "--quiet"]
    volumes:
      - mongo_data:/data/db
      - ../mongo-seed:/docker-entrypoint-initdb.d
    restart: unless-stopped
    networks:
      - noodle-network
  mongo-express:
    image: mongo-express
    container_name: mongo-express
    restart: unless-stopped
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_SERVER=noodles-mongo
      - ME_CONFIG_MONGODB_PORT=27017
      - ME_CONFIG_MONGODB_ENABLE_ADMIN=true
      - ME_CONFIG_BASICAUTH_USERNAME=admin
      - ME_CONFIG_BASICAUTH_PASSWORD=admin123
    depends_on:
      - noodles-mongo
    networks:
      - noodle-network
  mongo-sync-service:
    build: ../mongo-sync-service
    container_name: mongo-sync-service
    depends_on:
      - noodles-mongo
    restart: always
    networks:
      - noodle-network
    environment:
      - SOURCE_DB_URI=mongodb://data_warehouse_user:3r7od24m5Wx426edHghpB0gNB@207.148.122.148:27017/?authSource=BitCountry-Warehouse
      - SOURCE_DB_NAME=BitCountry-Warehouse

      - TARGET_DB_URI=mongodb://noodles-mongo:27017
      - TARGET_DB_NAME=noodles

      - SYNC_COLLECTIONS=user,ai_conversations,token_favorite,user_activity_logs,v4_x_tweets,v5_reddit_post_engagement,v3_x_tweets,v3_x_users,v4_github_recent_commits,v4_youtube_videos,commodities,stocks

volumes:
  mongo_data:

networks:
  noodle-network:
    driver: bridge