@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-reddit: var(--font-reddit);
  --font-noto: var(--font-noto);
  --font-space: var(--font-space);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes blink {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

.typing-cursor::after {
  content: '|';
  animation: blink 1s infinite;
  font-weight: bold;
}