@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9f9f9;
  --bg-hover: #f9f9f9;
  --bg-hover-2: #F4F4F5;
  --bg-header: #ffff;
  --bg-block: #ffff;
  --bg-card: #ffffff;
  --bg-post: #F6F6F6;
  --bg-messages: #FBFBFB;
  --bg-chat: #ffffff;
  --bg-input: #F8F8F8;
  --bg-input-chat: #F8F8F8;
  --bg-button: #F8FAFD;
  --bg-list-btn: #F9F9F9;
  --bg-apply: #171717;
  --text: #4b4a4a;
  --text-2: #fff;
  --text-table: #686868;
  --text-chip: #000;
  --text-info: #373737;
  --border: #C9C9C9;
  --border-popover: #f3f3f3;
  --foreground: #171717;
  --loading: #ebe6e7;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-reddit: var(--font-reddit);
  --font-noto: var(--font-noto);
  --font-space: var(--font-space);
} */

:root.dark {
  --background: #0B0B0B;
  --bg-hover: #1A1A1A;
  --bg-hover-2: #313131;
  --bg-header: #0B0B0B;
  --bg-block: #1A1A1A;
  --bg-card: #000;
  --bg-post: #1A1A1A;
  --bg-messages: #000;
  --bg-chat: #1a1a1a;
  --bg-button: #222;
  --bg-list-btn: #313131;
  --bg-apply: #f5f5f5;
  --bg-input: #1a1a1a;
  --bg-input-chat: #000;
  --text: #ffffff;
  --text-2: #000;
  --text-table: #fff;
  --text-chip: #000;
  --text-info: #ffff;
  --border: #4A4A4A;
  --border-popover: #222;
  --foreground: #fff;
  --loading: #333;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.loading span {
  animation: loading04 0.7s infinite;
}

.loading span:nth-child(2) {
  animation-delay: 0.1s;
}

.loading span:nth-child(3) {
  animation-delay: 0.2s;
}

.loading span:nth-child(4) {
  animation-delay: 0.3s;
}

.loading span:nth-child(5) {
  animation-delay: 0.4s;
}

.loading span:nth-child(6) {
  animation-delay: 0.5s;
}

.loading span:nth-child(7) {
  animation-delay: 0.6s;
}

@keyframes loading04 {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(15px);
  }
}

.gradient-letter {
  background: linear-gradient(to right, #DDF346, #84EA07);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.prose p {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
  line-height: 1.6 !important;
}

.prose ul,
.prose ol {
  margin: 0.5rem 0 !important;
  padding-left: 1.25rem !important;
}

.prose h3 {
  margin-top: 0.75rem !important;
  margin-bottom: 0.25rem !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}