@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-reddit: var(--font-reddit);
  --font-noto: var(--font-noto);
  --font-space: var(--font-space);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.loading span {
  animation: loading04 0.7s infinite;
}

.loading span:nth-child(2) {
  animation-delay: 0.1s;
}

.loading span:nth-child(3) {
  animation-delay: 0.2s;
}

.loading span:nth-child(4) {
  animation-delay: 0.3s;
}

.loading span:nth-child(5) {
  animation-delay: 0.4s;
}

.loading span:nth-child(6) {
  animation-delay: 0.5s;
}

.loading span:nth-child(7) {
  animation-delay: 0.6s;
}

@keyframes loading04 {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(15px);
  }
}

.gradient-letter {
  background: linear-gradient(to right, #DDF346, #84EA07);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.prose p {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
  line-height: 1.6 !important;
}

.prose ul,
.prose ol {
  margin: 0.5rem 0 !important;
  padding-left: 1.25rem !important;
}

.prose h3 {
  margin-top: 0.75rem !important;
  margin-bottom: 0.25rem !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}